# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (if you use one later)
venv/
env/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Logs
*.log

# Large model files (IMPORTANT)
*.task

# Temporary files
*.tmp